.card {
    width: 250px;
}

.image {
    width: 200px;
    height: 200px;

    border: 1px solid black;

    object-fit: cover;
}

.info {
    margin-top: 20px;

    border: 1px solid var(--dark);
}

.title {
    height: 45px;
    margin-bottom: 20px;

    overflow: hidden;
}

.price {
    font-size: 30px;
}

