.card {
    width: 250px;
}

.image {
    width: 200px;
    border: 1px solid black;

}

.info {
    border: 1px solid var(--dark);
}

.title{
    height: 45px;
    margin-bottom: 20px;

    overflow: hidden;
}

.price{
    font-size: 30px;
}

