.footer {
    min-height: 100px;
    padding: 1.5rem 2rem;

    display: flex;
    align-items: center;

    background-color: var(--dark-green);
}

.rights{
    font-size:20px;

    text-decoration: none;

    color: var(--light-brown);
}
