* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
    font-weight: bold;

    color: var(--dark-brown);
}

li {
    list-style-type: none;
    cursor: pointer;
}

.container {
    min-height: calc(100vh - 200px);

    background-color: var(--light-green);
}

div.swiper-slide {
    max-height: 350px;

    display: flex;
    justify-content: center;
    align-items: center;
}
