.RegistrationPage {
    padding: 1.5rem 0 4rem 0;
}

.header {
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
}

.title {
    font-size: 30px;
    margin-left: 30px;
}

.title {
    font-size: 30px;
}

.content {
    width: 30vw;
    padding: 50px;
    margin: 0 auto;

    display: flex;
    justify-content: center;

    border: var(--dark) 1px solid;
    background-color: var(--dark-green);
}

.form {
    padding: 50px;

    border: var(--dark) 1px solid;
    background-color: var(--light-green);
}

.wrapper {
    display: flex;
    flex-direction: column;

    margin-top: 40px;
}

.email, .password, .avatar {
    margin-top: 10px;
}






