.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    border: var(--dark) 1px solid;
}

.item:not(:first-child){
    margin-top: 20px;
}

.img{
    width: 50px;
    height: 50px;

    border: var(--dark) 1px solid;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title{
    width:  170px;
}

.price{

}

.quantity{
    display: flex;
    align-items: center;
}

.about{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border: var(--dark) 1px solid;
}

.empty{
    width: 20%;
    margin: 0 auto;
}

.change{
    display: flex;
    column-gap: 10px;
}
